*{
    padding: 0;
    margin: 0;
}

body{
    font-family: arial;
}

.nav-bar li{
    float: left;
    padding: 15px 10px;
}

li{
    list-style: none;
}

.hasMenu{
    position: relative;
    cursor: pointer;
}

.menu{
    position: absolute;
    left: 0;
    display: none;
}

.hasMenu:hover .menu{
    display: block;
}