body{
	margin:0;
}

.container{
	width:50%;
	margin:0 auto;
	height:1000px;
}

.green{
	background-color:rgb(0, 255, 0);
	border-radius:50%;
	width:250px;
	height:250px;
	margin:0 auto;
	position:relative;
	top: 180px;
}

.red{
	background-color:rgb(255, 0, 0);
	border-radius:50%;
	width:100px;
	height:100px;
	position:absolute;
	top:-30px;
	left:-30px;
}

.blue{
	background-color:rgb(0, 0, 255);
	border-radius:50%;
	width:100px;
	height:100px;
	position:absolute;
	top:-35px;
	right:-20px;
}

.pink{
	background-color:#FF4ED1;
	border-radius:50%;
	width:100px;
	height:100px;
	position:absolute;
	bottom:-35px;
	left:-30px;
}

.yellow{
	background-color:yellow;
	border-radius:50%;
	width:100px;
	height:100px;
	position:absolute;
	bottom:-35px;
	right:-30px;
}

.hinhvuong{
	width:50px;
	height:50px;
	background-color:#B15C83;
	position:absolute;
	right: -25px;
    top: 25px;
}
