img {
	border-radius:50%;
	display:block;
	max-width: 100px;
	max-height: 100px;
	margin: 0 auto;			
	width: auto;
	height: auto;
	margin-top:30px;
}

hr{
	width:1170px;
}

h1{
	text-align:center;
	font-family: arial;
}

.info{
	width:1170px;
	margin: 0 auto;
	font-family: arial;
}

.left{
	width:50%;
	float:left;
}

.right{
	width:45%;
	float:left;
	padding-left:55px;
}

h3{
	margin-top:50px;
	border-left: 10px solid #8ae6ae;
	padding-left:15px;
}

.hobby{
	margin-left: 80px;
}

.lt{
	float:left;
}

.ta{
	float:left;
}

.container1{
	width:100px;
	background-color: white;
	border: 1px solid black;
	float:left;
	margin-left: 100px;
	margin-top:3px;
}

.container2{
	width:100px;
	background-color: white;
	border: 1px solid black;
	float:left;
	margin-left: 92px;
	margin-top:3px;
}

.skill{
	text-align: left;
    padding-right: 10px;
    line-height: 10px; 
    color: white; 
    font-size:10px;
}

.laptrinh{
	width:20%;
	background-color: #8ae6ae;
}

.tienganh{
	width:30%;
	background-color: #8ae6ae;
}