.header{
	background-color:#4267B2;
	height:42px;
}
body{
    margin:0;
}
.container{
	width:80%;
	height:42px;
	margin-left:6%;
}

.left{
	width: 50%;
    height: 42px;
    float:left;
}

.fa-facebook-official{
    color: white;
    font-size: 28px;
    padding-top: 6px;
    float:left;
}

input{
	border-radius: 3px;
    height: 20px;
    margin-top: 6.5px;
    width: 400px;
    padding-left: 7px;
    margin-left: 5px;
}

.icon{
	margin-left: -46px;
    padding: 3px 14px;
    border: none;
    padding-bottom: 5px;
    cursor: pointer;
}

.right{
	width:50%;
	height:42px;
	float:left;
}

.avatar{
	border-radius: 50%;
    width: 24px;
    float: left;
}

.name{
	float: left;
    margin-top: 5px;
    color: white;
    margin-left:8px;
    font-weight: bold;
    font-size: 12px;
}

.dh{
	margin-top:6px;
}

.facebook-name{
	background-color: #4267B2;
    border: none;
    margin-top: 6px;
    cursor: pointer;
    border-radius: 2px;
    padding-right: 15px;
    border-right: 1px solid #2F3F96;
    float:left;
}

.facebook-name:hover{
	background-color: #2F3F96;
}

.home{
	background-color: #4267B2;
    border: none;
    margin-top: 6px;
    cursor: pointer;
    border-radius: 2px;
    padding-right: 15px;
    border-right: 1px solid #2F3F96;
    height: 27px;
    padding-bottom: 6px;
    float:left;
}

.home:hover{
	background-color: #2F3F96;
}

.left-right{
	width: 44%;
    height: 42px;
    float:left;
}

.middle-right{
	width:21%;
	height:42px;
	margin-left:2px;
	padding-top:2px;
	float:left;
}

.i-cons{
	font-size:20px;
	color: #3C4352;
}

.right-right{
	width:30%;
	margin-left:2px;
	height:42px;
	padding-top:3px;
	float:left;
}

.kyhieu{
	background-color: #4267B2;
    border: none;
	cursor:pointer;
	margin-top:7px;
}

.canh-phai{
	border-right:1px solid #2F3F96;
	padding-right:10px;
}


