.center{
	background: red;
	width: 300px;
	height:300px;
	display: flex;
	justify-content: center; 			/*áp dụng với các phần tử bên trong thẻ*/
	align-items: center;				
}

.center-area{
	background: red;
	text-align: center;
	line-height: 30px;				/*độ cao 1 dòng*/
}

a{
	text-decoration: none;			
}

