@font-face{
    font-family: Oswald-ExtraLight;
    src: url('../fonts/Oswald-ExtraLight.ttf');
}

@font-face{
    font-family: Oswald-Bold;
    src: url('../fonts/Oswald-Bold.ttf');
}

@font-face{
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face{
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face{
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

body{
	margin: 0;
}

.header{
    height: 39px;
    background-color: #2B2B2B;
    display: flex;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

.container{
    display:flex;
}

.left{
	width: 100%;
    display: flex;
    align-items: center;
}

.address{
	padding-right: 10px;
    border-right: solid 1px;
    color: #5E5E5E;
    font-size: 12px;
    padding-left:2px;
}

.fa-map-marker{
	color: #5E5E5E;
	font-size: 15px;
}

.fa-envelope{
	color: #5E5E5E;
	padding-left: 10px;
}

.fa-mobile{
	color: #5E5E5E;
	padding-left: 10px;
}

.phone-number{
	color: #5E5E5E;
    font-size: 12px;
    padding-left:2px;
}

.right{
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.right-icon{
	color: #5E5E5E;
}

.nav-bar{
	height: 113px;
    display: flex;
    align-items: center;
}

.logo{
	text-transform: uppercase;
    color: #73B01F;
    width: 34%;
    font-family: Roboto-Bold;
}

.right-nav-bar{
	width: 66%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 0px;
}

li{
	list-style: none;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.fa-angle-down{
	margin-left: 5px;
}

.fa-search{
	height: 20px;
    padding-left: 20px;
    border-left: solid 1px;
}

img{
	width: 100%;
}

.background{
	position: relative;
}

.tongquan{
    position: absolute;
    top: 277px;
    left: 98px;
    text-transform: uppercase;
    width: 528px;
    height: 272px;
    text-align: center;
}

hr{
    width: 484px;
    background-color: #757575;
    margin: 0;
    margin-left: 20px;
}

button{
    background-color: #73B01F;
    width: 156px;
    height: 46px;
    border-radius: 25px;
    font-family: Roboto-Medium;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    border: solid 0px;
}

.header1{
    color: #555555;
    font-size: 19px;
    font-family: Oswald-ExtraLight; 
    margin: 0;
}

.header2{
    color: #333333;
    font-family: Oswald-Bold;
    font-size: 24px;
}

.header3{
    color: #929292;
    font-family: Oswald-ExtraLight;
    font-size: 19px;
}

.introduction{
    display: flex;
    justify-content: center;
    height: 501px;
    align-items: center;
}

.intro-img{
    width: 445px;
    height: 381px;
}

.gioi-thieu{
    display: flex;
    justify-content: center;
}

.gioithieu-background{
    width: 446px;
    background-color: #fcfcfc;
    position: relative;
}

.gioithieu{
    position: absolute;
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
}

.gachchan{
    width: 40px;
    height: 3px;
    background-color: #73B01F;
    margin-top: 25px;
}

.gachchan1{
    margin: 0 auto;
    margin-top: 25px;
}

h3{
    color: #222222;
    font-family: Roboto-Medium;
    font-size: 30px;
}

.congty{
    color: #848383;
    font-family: Roboto-Regular;
    font-size: 14px;
    margin-top: 24px;
    line-height: 26px;
}

.sanpham{
    margin: 0 auto;
}

.gioithieu-sp{
    text-align: center;
}

.tensp{
    color: #3D3D3D;
    font-family: Roboto-Regular;
    margin-top: 15px;
}

.soluong{
    color: #73B01F;
    font-family: Roboto-Medium;
    cursor: pointer;
}

.new{
    padding: 10px;
}

.news-1{
    position: relative;
}

.tieude{
    color: #222222;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.tinhnang{
    color: #C1C1C1;
}

.chitiet{
    color: #73B01F;
    font-weight: bold;
}

.doitac{
    margin-top: 70px;
}

