body{
	margin:0;
}

.container{
	width:100%;
	background-color:#FBFBFB;
	height:100px;
	display:flex;
	justify-content: flex-end;
}

.navBar{
	width:70%;
}

.sanpham{
	margin-top:27px;
}

li{
	list-style:none;
	font-family: arial;
}

.navBarSet{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-right: 32px;
    padding: 8px;
    cursor: pointer;
}

.product{
	position: relative;
}

.fa-caret-down{
	margin-left:25px;
}

.fa-caret-right{
	margin-left: 81px;
}

.dropDown{
	margin-top: 17px;
}

.sanPham{
	position: absolute;
    left: 0px;
    padding: 12px;
    padding-left: 15px;
    background-color:#F1F1F1;
}

.sanPhamDD1{
    width: 250px;
    padding-right: 10px;
    top:43px;
}

.sanPhamDD2{
    width: 200px;
    padding-right: 60px;
    top: 85px;
}

.sanPhamDD3{
    width: 200px;
    padding-right: 60px;
    top: 127px;
}

.sanPhamPE{
	position: absolute;
    padding: 12px;
    padding-left: 26px;
    right: -227px;
    padding-right:119px;
    background-color:#F1F1F1;
}

.pe1{
	top: 0px;
}

.pe2{
    top: 42px;
}

.pe3{
	bottom: -84px;
}

.tintuc{
	border-right: 1px solid #000;
    padding-right: 35px;
}

button{
	background-color:#FBFBFB;
	border:none;
	cursor:pointer;
}

.timkiem{
	font-size: 20px;
    padding-top: 5px;
}
