.container{
	width:1100px;
	margin:0 auto;
	height:35px;
}

.left1-header{
	width:14%;
	float:left;
}

.left2-header{
	width:29%;
	float:left;
	margin-top:9px;
}

.image{
	max-width:100%;
	display:inline-block;
}

.time{
	font-family: arial;
	margin-left:15px;
	color:#989898;
	border-left: 1px solid #e8d6d6;
	padding: 5px 0 5px 15px;
}

.middle-header{
	width:23%;
	float:left;
	margin-top:6px;
}

.moinhat{
	text-decoration: none;
	border: 1px solid #e8d6d6;
	padding:5px 10px;
	border-radius:7%;
}

.fa-clock-o{
	color:#989898;
	font-size:21px;
}

.text{
	color:#989898;
	font-family: arial;
}

.inter{
	text-decoration: none;
	border: 1px solid #e8d6d6;
	padding:5px 10px;
	margin-left:10px;
	border-radius:7%;
}

.search{
	border-radius: 15px;
    padding: 7px 0 7px 15px;
    background-color: white;
    width: 200px;
    border: solid 1px #e8d6d6;
    color:#e8d6d6;
}

.submit{
	border: none;
    background: white;
}

.fa-search{
	color:#cecaca;
	margin-top:5px;
	margin-left:-30px;
	margin-right:25px;
	cursor:pointer;
}

.right-header{
	width:34%;
	float:left;
	margin-top:3px;
}

.login{
	text-decoration: none;
	color:#cecaca;
	margin-right:5px;
}

.fa-user{
	margin-right:5px;
}

ul{
	list-style-type:none;
}

ul li{
	float: left;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    margin-right: 34px;
    margin-left: -20px;
}

.li-style{
	text-decoration: none;
	color:#000;
}

.li-style2{
	color:#cecaca;
}

.fa-bars{
	margin-left: 10px;
}

.fa-home:hover{
	color:#D90F8F;
}

.thanhhr{
	margin-top:14px;
}

.container2{
	width:1100px;
	margin:0 auto;
	margin-top:20px;
	height: 323px;
    border-bottom: 1px solid #ababab;
}

.left-body{
	width:45%;
	float:left;
}

.hhenie{
	height:310px;
}

.right-body{
	width:25%;
	float:left;
	background-color: #f1f1f1;
	height:310px;
}

.title{
	font-size: 26px;
    padding-left: 15px;
}

.title:hover{
	color:rgb(0,0,255);
}

.content{
	font-family: arial;
    padding-left: 15px;
    font-size:15px;
}

.body{
	text-decoration: none;
	color:#000;
}

.info{
	font-family: arial;
	padding-left: 15px;
	font-size:12px;
	color:#ababab;
}

.quangcao{
	margin-left:20px;
}

.more{
	width:800px;
	float:left;
}

.left-of-more{
	width:30%;
	float:left;
}

.title-of-left{
	font-weight: bold;
    font-size: 17px;
}

.title-of-left:hover{
	color:rgb(0,0,255);
}

.body-of-left{
	font-family: arial;
	font-size:14px;
}

.info-of-left{
	font-family: arial;
	font-size:12px;
	color:#ababab;
	padding-right:12px;
}

.right-of-more{
	width:30%;
	float:left;
	margin-left:26px;
}

.city{
	font-family: arial;
	font-size:12px;
	color:#ababab;
	text-transform:uppercase;
}

.left-of-body{
	width: 38%;
	border-right:1px solid #ababab;
	padding-right:20px;
	float:left;
}

.right-of-body{
	width:60%;
	float:left;
}

.row-1{
	height:146px;
    border-bottom: 1px solid #ababab;
}

.row-2{
	height:166px;
	border-bottom:1px solid #ababab;
}

.anh{
	height: 89px;
    width: 155px;
}

.left{
	width:40%;
	float:left;
}

.right{
	width:60%;
	float:left;
}

.row-3{
	height:85px;
	border-bottom:1px solid #ababab;
}

.gocnhin{
	font-size:18px;
	border-bottom:1px solid #D90F8F;;
}

.gocnhin:hover{
	color:#D90F8F;
}

.chitiet{
	font-weight: normal;
}

.chitiet:hover{
	color:rgb(0, 0, 255);
}

.left-of-right{
	width:60%;
	margin-left:20px;
}