.container{
	width:1000px;
	margin: 0 auto;
}

.head1{
	text-transform:uppercase;
	font-family:arial;
	color:#768A9C;
	text-decoration: none;
	display:flex;
	justify-content: center;
	margin-top:50px;
}

.header{
	width: 550px;
    font-size: 47px;
    margin: 0 auto;
    text-align: center;
    margin-top:20px;
}

.foot{
	display:flex;
	justify-content: center;
	margin-top:25px;
	font-family:arial;
	font-size:14px;
}

.foot1{
	text-decoration: none;
	color:#000;
	font-weight:bold;
}

.foot2{
	margin-left:10px;
	color:#768A9C;
}

h3{
	margin: 0 auto;
    width: 600px;
    text-align: center;
    font-size: 20px;
    margin-top:25px;
}

p{
	width: 610px;
    margin: 0 auto;
    font-size: 21px;
    padding-left: 15px;
    margin-top: 35px;
}

.img{
	margin:0 auto;
	width:850px;
	margin-top:50px;
}

img{
	width:850px;
}

.under-img{
	font-family: arial;
    font-size: 14px;
}

.name{
	font-style:italic;
}

.header2{
	width: 400px;
    text-align: center;
    margin: 0 auto;
	margin-top:70px;
}

.question{
	font-style:italic;
	font-weight:bold;
}

.footer1{
	text-decoration: none;
	color: #000;
	font-family:arial;
	font-weight: bold;
	font-size:14px;
}

.footer2{
	color:#768A9C;
	padding-right:10px;
}

.footer1:hover{
	color: #0000ff;
}